[submodule "src/frontend/CxxFrontend/EDG"]
	path = src/frontend/CxxFrontend/EDG
	url = https://github.com/passlab/EDG.git
[submodule "src/frontend/SageIII/ompparser"]
	path = src/frontend/SageIII/ompparser
	url = https://github.com/passlab/ompparser.git
